<%- layout('layout') -%>

<div class="c-wrapper">
    <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://g-ecx.images-amazon.com/images/G/03/kindle/merch/2016/campaigns/muscat_feb/muscat_vday_01-gw-d-de-1500x300._CB299722452_.jpg">
                <div class="carousel-caption">
                    hello
                </div>
            </div>
            <div class="item">
                <img src="http://g-ecx.images-amazon.com/images/G/03/DE-digital-music/knight/weekly/2016cw05/UK_UK_PrimeMusic_Herotator-Covergrid-Update_29-1-2016_1500x300._CB299710106_.jpg">
                <div class="carousel-caption">
                    hello
                </div>
            </div>
            <div class="item">
                <img src="http://g-ecx.images-amazon.com/images/G/03/AMAZON-FASHION/2015/SALE/AW15/GATEWAY/70/DE_AW15_SALE_GW_HERO_70_1500x300._CB301753807_.jpg">
                <div class="carousel-caption">
                    hello
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>
